body {
    font-family: 'Roboto', sans-serif;
    color: #333;
}

img {
    max-width: 100%;
    height: auto;
}


/*this will resolve the broken layout after add padding and should be aplly for each element by using "*" */
* {
    box-sizing: border-box; 
}

/* applying mainOrange color on all link text */
a {
    color: $mainOrange;
}

