/* 1.base line will be for smallest mobile screens*/


/* 2.for large mobile screens*/
@define-mixin atSmall {
    @media (min-width: 530px) {
        @mixin-content;
    }
}


/* 3.for tablet screens or small desktop screens*/
@define-mixin atMedium {
    @media (min-width: 800px) {
        @mixin-content;
    }
}


/* 4.for desktops screens*/
@define-mixin atLarge {
    @media (min-width: 1010px) {
        @mixin-content;
    }
}

/*tackling float problem by adding and clearing an empty content after this*/
@define-mixin clearfix {
    &::after {
        content: "";
        clear: both;
        display: table;
    }
}
